.root {
  display: flex;
  flex-direction: column;
}

.toggle {
  align-self: flex-end;
  margin-top: 6px;
  padding: 4px 2px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 18px;
  color: var(--colorGrey600);
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--colorGrey900);
  }
}
